<!DOCTYPE html>
<html>

<head>
	<title>Chat</title>
</head>

<body>
	<div class="flex flex-col items-center">
		<h1>Chat by Sharipov Rustam</h1>
		<form action="" onsubmit="sendMessage(event)">
			<input type="text" id="messageText" autocomplete="off" />
			<button>Send</button>
		</form>
		<ul id='messages'> </ul>
	</div>
	<script>

	function appendMessage(msg) {
		let messages = document.getElementById('messages')
		let message = document.createElement('li')
		let content = document.createTextNode(msg)
		message.appendChild(content)
		messages.appendChild(message)
	}
	let ws = new WebSocket(`{{ ws_protocol }}://{{ server_urn }}/ws`);
	ws.onmessage = function(event) {
		appendMessage(event.data)
	};

	function sendMessage(event) {
		let input = document.getElementById("messageText")
		ws.send(input.value)
		input.value = ''
		event.preventDefault()
	}
	</script>
</body>

</html>